#button {

	width: 20px;
	height: 20px;
	background-color: #373B53; 
	position: absolute;
	left: calc(50% - 19.99px/2 - 0.51px);
	bottom: 121.1px;
    color: #7E88C3;


}

#button:hover {

	cursor:  pointer;
}

  
@media only screen and (max-width: 720px) {
    html {
      overflow: hidden;
    }
  }