#header {
    position: absolute;
    width: 103px;
    background-color: #373B53;
    border-radius: 0px 20px 20px 0px;
  }
  #header .pro-sidebar {
    height: 100vh;
  }
  #header .pro-sidebar {
    width: 100%;
    min-width: 100%;
  }

  #header .pro-sidebar-inner {
    background-color: #373B53;
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
  }
  
  @media only screen and (max-width: 720px) {
    html {
      overflow: hidden;
    }
  }